---
/*----------------------Iconos Skills---------------------------*/

import androidStudioSvg from "@components/assets/icons/svg/androidstudio.astro"
import Kotlin from "@components/assets/icons/svg/kotlin.astro"
import Django from "@components/assets/icons/svg/django.astro"
import Jira from "@components/assets/icons/svg/jira.astro"
import Html from "@components/assets/icons/svg/html.astro"
import Css from "@components/assets/icons/svg/css.astro"
import Python from "@components/assets/icons/svg/python.astro"
import SQL from "@components/assets/icons/svg/sql.astro"
import JS from "@components/assets/icons/svg/javascript.astro"
import Docker from "@components/assets/icons/svg/docker.astro"
import React from "@components/assets/icons/svg/react.astro"
import Vite from "@components/assets/icons/svg/vite.astro"
import Csharp from "@components/assets/icons/svg/csharp.astro"
import Unity from "@components/assets/icons/svg/unity.astro"
import Neo4j from "@components/assets/icons/svg/neo4j.astro"




/*--------------------------------------------------------------*/

import BarcaApi from "@components/assets/images/Barca-Api-Logo.png";
import BarcaBlog from "@components/assets/images/BarcaBlog.png";
import MagicWords from "@components/assets/images/MagicWordsIcon.png";
import Dexter from "@components/assets/images/DexterDrawing.png";
import MusicRecom from "@components/assets/images/MusicRecom.png";
import Multiversdle from "@components/assets/images/Multiversdle.png"
import Coding from "@components/assets/images/coding1.jpg";



import ProjectCard from "@components/ProjectCard.astro";
import Image from "astro/components/Image.astro";
import SkillTag from "@components/SkillTag.astro";
import Tag from "@components/Tag.astro";
import Github from "@components/assets/icons/svg/github.astro";

/* Link para dexter */

const basePath = '/';
const linkDexter = `${basePath}dexterPage`;

---

<div class="flex flex-col container px-5  mx-auto bg-card shadow-md rounded-lg ">
    <div class="flex flex-col text-center w-full py-8">
      <h1 class="sm:text-4xl title-font mb-4 font-subtitles text-subtitles text-4xl">My Projects</h1>
    </div>
    <div class="flex flex-wrap -m-4 justify-center pr-5">
      <div class="lg:w-1/3 sm:w-full">
        <ProjectCard
          title="Barca-API"
          description1="RESTful API that provides detailed data for the 23/24 season of FC Barcelona."
          description2="Includes CRUD endpoints and token-based authentication for secure access control."
          date="2024"
          image={BarcaApi}
          GitHubLink="https://github.com/FabianKel/Barca-API"
        />
        <div class="flex flex-wrap my-6 gap-3 ml-4 justify-center">
          <SkillTag icon={Python} text=""/>
          <SkillTag icon={JS} text=""/>
          <SkillTag icon={SQL} text=""/>
          <SkillTag icon={Docker} text=""/>
          <Tag icon="ðŸ”" text="CryptoJS"/>
        </div>
      </div>


      <div class="lg:w-1/3 sm:w-full">
        <ProjectCard
          title="Barca-Blog"
          description1="Client-side React application that consumes data from the Barca-Api."
          description2="It features a blog view, season results, and an admin CRUD interface."
          date="2024"
          image={BarcaBlog}
          GitHubLink="https://github.com/FabianKel/React-BarcaBlog-CRUD"
        />
        <div class="flex flex-wrap my-6 gap-3 ml-4 justify-center">
          <SkillTag icon={JS} text=""/>
          <SkillTag icon={React} text=""/>
          <SkillTag icon={Vite} text=""/>
          <SkillTag icon={Html} text=""/>
          <SkillTag icon={Css} text=""/>
        </div>
      </div>


      <div class="lg:w-1/3 sm:w-full">
        <ProjectCard
          title="Magic Words"
          description1="Interactive application designed for 1st and 2nd grade children to learn English words."
          description2="This project was developed as a final graduation project in high school."
          date="2024"
          image={MagicWords}
          ItchioLink="https://fabiankel.itch.io/magic-words"
        />
        <div class="flex flex-wrap my-6 gap-3 ml-4 justify-center">
          <SkillTag icon={Csharp} text=""/>
          <SkillTag icon={Unity} text="  Unity"/>
        </div>
      </div>


      <div class="lg:w-1/3 sm:w-full">
        <ProjectCard
          title="CSS DEXTER DRAWING"
          description1="Pure CSS recreation of a character drawing from the popular cartoon &quot;Dexter's Laboratory&quot;."
          description2=" "
          date="2024"
          image={Dexter}
          GitHubLink="https://github.com/FabianKel/Full-CSS-Drawing"
          WebLink={linkDexter}
        />
        <div class="flex flex-wrap my-6 gap-3 ml-4 justify-center">
          <SkillTag icon={Html} text="HTML"/>
          <SkillTag icon={Css} text="CSS"/>
        </div>
      </div>


      <div class="lg:w-1/3 sm:w-full">
        <ProjectCard
          title="Music Recommendation System"
          description1="A project designed to suggest music based on the user's preferred genres and emotions."
          description2=" "
          date="2022"
          image={MusicRecom}
          GitHubLink="https://github.com/alee2602/Proyecto2ED"
        />
        <div class="flex flex-wrap my-6 gap-3 ml-4 justify-center">
          <SkillTag icon={Python} text=" "/>
          <SkillTag icon={Neo4j} text=" "/>
          <SkillTag icon={Html} text=" "/>
        </div>
      </div>

      <div class="lg:w-1/3 sm:w-full">
        <ProjectCard
          title="Multiversdle"
          description1="A web application built with Next.js. It's a Wordle-like game where players guess characters from the video game Multiversus."
          description2=" "
          date="2024"
          image={Multiversdle}
          WebLink="https://multiversdle.netlify.app/play"
        />
        <div class="flex flex-wrap my-6 gap-3 ml-4 justify-center">
          <SkillTag icon={JS} text=" "/>
          <SkillTag icon={React} text=" "/>
          <SkillTag icon={Html} text=" "/>
          <SkillTag icon={Css} text=" "/>

        </div>
      </div>      

    </div>
    <div class="self-center w-full rounded-xl p-4 text-center"
    style="background-image: linear-gradient(45deg, #706269, #988e8c, #c2bcb1, #ededd8)"
    >
    <h1 class="tracking-widest text-2xl title-font font-subtitles text-background mb-1">
      Currently working on More Projects
    </h1>
      <div class="flex flex-row justify-center">
        <p class="leading-relaxed">
          Visit my GitHub to see more projects</p>
      <a href={"https://github.com/FabianKel"} target="_blank" rel="noreferrer" class="pl-4">
        <Github />
      </a>
      </div>
      
    </div>
  </div>