---
import Thunder from "@components/assets/icons/thunder.astro"
import Pic from "@components/assets/images/profPic.astro"

import byteIMG from "@components/assets/images/LOGO-BYTE-02.png"
import apllIMG from "@components/assets/images/APLL.png"

/*----------------------Iconos Skills---------------------------*/

import androidStudioSvg from "@components/assets/icons/svg/androidstudio.astro"
import Kotlin from "@components/assets/icons/svg/kotlin.astro"
import Django from "@components/assets/icons/svg/django.astro"
import Jira from "@components/assets/icons/svg/jira.astro"
import Html from "@components/assets/icons/svg/html.astro"
import Css from "@components/assets/icons/svg/css.astro"
import Python from "@components/assets/icons/svg/python.astro"



/*--------------------------------------------------------------*/

import Tag from "@components/Tag.astro";

import Carousel from "@components/Carousel.astro";

import SkillTag from "@components/SkillTag.astro";

import Image from "astro/components/Image.astro";

---
<main class="h-screen ml-0 w-11/12  md:ml-80 md:w-3/5 lg:ml-80">
  <section id="name" class="py-16">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center">
      <div class="flex flex-row items-center">
      <svg class=" size-32" viewBox="0 0 2400 2400">
        <Thunder />    
      </svg>
      
      <h2 class=" text-6xl font-name mb-4 text-highlightedText"> Derek Arreaga</h2>
    </div>
      <p class=" text-3xl pt-4 leading-7 text-text font-headings">Evolving Software Developer</p>
    </div>
  </section>



    <section id="about" class="py-16">
      <a class=" font-subtitles text-subtitles text-4xl">About Me</a>
      <div class="bg-card shadow-md rounded-lg py-6 mt-6 items-center flex flex-col md:flex-row">
        <div class="md:mx-9">
        <svg class=" size-72 rounded-full my-5" viewBox="0 0 959.9999999999999 959.9999999999999">
          <Pic/>
        </svg>
      </div>
        <div class="px-4">
          <p class="text-body text-xl">I'm currently pursuing my third year of studies in Computer Science Engineering. I consider myself an evolving software engineer, aiming to become a full-stack developer in the future.</p>
          <p class="text-body text-xl mt-7">Some of my hobbies:</p>
          <div class="flex flex-wrap mt-4 gap-3">
            <Tag icon="🎮" text="Video Games"/>
            <Tag icon="⚽" text="Soccer" />
            <Tag icon="🧩" text="Puzzles"/>
            <Tag icon="⛰️" text="Hiking" />
          </div>
        </div>
      </div>
    </section>

    <section id="experience" class="py-8">
      <a class=" font-subtitles text-subtitles text-4xl">Experience</a>
      <div class="bg-card shadow-md rounded-lg py-6 mt-6 items-center flex flex-col">
        <div class="bg-tag shadow-md rounded-md mx-5 mt-5 px-10 py-6 flex flex-col gap-5 md:flex md:flex-row md:gap-5">
          <div class="flex flex-col gap-4">
            <a class="text-text font-subtitles">Internship at Byte</a>
            <Image src={byteIMG} alt="Byte-Logo" class=" w-24 self-center"/>
            <a class=" text-body font-body">October 2021 - December 2021</a>
          </div>
          <div class=" flex flex-col gap-3 ml-5 md:w-2/3">
            <li class=" text-body font-body">During my internship at Byte Guatemala, I worked on web application development. The primary focus of my internship was learning new technologies, particularly in the area of mobile app development.</li>
            <li class=" text-body font-body">This experience allowed me to gain valuable knowledge and skills that are essential for building modern mobile applications</li>
            <div class="flex flex-wrap mt-4 gap-3">
              <SkillTag icon={androidStudioSvg} text="Android Studio"/>
              <SkillTag icon={Kotlin} text="Kotlin"/>
            </div>
          </div>
        </div>
        <div class="bg-tag shadow-md rounded-md mx-5 mt-5 px-10 py-6 flex flex-col gap-5 md:flex md:flex-row md:gap-5">
          <div class="flex flex-col gap-6">
            <a class="text-text font-subtitles">Autopartes Los Luises Operations</a>
            <Image src={apllIMG} alt="APLL-Logo" class=" w-32 self-center"/>
            <a class=" text-body font-body">January 2024 - June 2024</a>
          </div>
          <div class=" flex flex-col gap-3 ml-5 md:w-2/3">
            <li class=" text-body font-body">Worked on a College team</li>
            <li class=" text-body font-body">Utilized SCRUM, UX and Design Thinking methodologies during the initial phases of a project aimed at developing an integrated solution for inventory management, sales, and user administration.</li>
            <div class="flex flex-wrap mt-4 gap-3">
              <SkillTag icon={Python} text="Python"/>
              <SkillTag icon={Django} text="Django"/>
              <SkillTag icon={Jira} text="Jira"/>
              <Tag icon=💡 text="SCRUM"/>
              <SkillTag icon={Html} text="HTML"/>
              <SkillTag icon={Css} text="CSS"/>
            </div>
          </div>
        </div>
    </section>


    <section id="projects" class="py-16">

      <Carousel/>

    </section>


    <section id="contact" class="py-16 bg-gray-50">
      <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="text-2xl font-bold mb-4">Contacto</h2>
        <form action="#" method="POST" class="bg-white shadow-lg rounded-lg p-6">
          <div class="mb-4">
            <label for="name" class="block text-sm font-medium text-gray-700">Nombre</label>
            <input type="text" id="name" name="name" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Correo Electrónico</label>
            <input type="email" id="email" name="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
          </div>
          <div class="mb-4">
            <label for="message" class="block text-sm font-medium text-gray-700">Mensaje</label>
            <textarea id="message" name="message" rows="4" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
          </div>
          <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Enviar</button>
        </form>
      </div>
    </section>
  </main>
<script>
	const toggleButton = document.getElementById('hideButton');
	const Componente = document.getElementById('mainC');

	if(toggleButton && Componente){
		toggleButton.addEventListener('click', function() {
		Componente.classList.toggle('pl-0');
		});
	}
</script>
<style>

    nav{
        color: #FFD948;
    }


</style>